:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #dfdfdf;
  color: #2c3e50;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-items: center;
  min-height: 100vh;
  display: flex;
  margin-top: 60px;
}

main {
  margin: 0 auto;
}

h1 {
  font-size: 32px;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px 30px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

.surface {
  height: 747px;
  /* border-box contents would be 420px fixed, this is the proportional height for 9:16 */
  max-height: calc(100vh - 120px);
  background-color: #fff;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 60px;
  text-align: initial;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  position: relative;
}

.card {
  padding: 20px;
  border-radius: 8px;
}

.bottom {
  position: sticky;
  bottom: 0;
  background-color: #fff;
}

input {
  font: inherit;
  width: calc(100% - 20px);
  border: 1px solid #ccc;
  border-radius: 40px;
  padding: 10px;
  padding-left: 20px;
  margin-top: 10px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}